/*Basic styling*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif !important;
}
body{
    overflow-x:hidden ;
    position: relative;
}

/* Glowing hover effect */
.glow {
    position: fixed;
    width: 550px;
    height: 550px;
    background: radial-gradient(circle, rgba(22, 32, 53, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    z-index: 9999;
    transition: width 0.3s ease, height 0.3s ease,background 0.3s ease;
}

body:hover .glow{
    width: 550spx;
    height: 550px;
    background: radial-gradient(circle, rgba(22, 32, 53, 0.3), rgba(255, 255, 255, 0) 70%);
}

/* Variables */

:root{
    --primary-clr:rgb(15 23 42);
    --secondary-clr:rgb(148 163 184);
    --accent-clr:whitesmoke;
    --bgop-clr:rgb(22, 32, 53);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-clr)!important; 
    color: var(--secondary-clr) !important;
}

/* For Scrollbar animation */
::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--secondary-clr);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover{
    background-color:var(--accent-clr);
}
/* Navbar section goes here*/

.navbar{
   top: 0;
   z-index: 1000;
   background-color: var(--bgop-clr);
}

/* For Breadcrumbs Menu icon */

input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

input[type="checkbox"]:hover{
    cursor: pointer !important;
}

.bar-container {
    position: relative;
    width: 30px;
    height: 30px; /* Adjusted to ensure it covers the entire clickable area */
}

.bar{
    position: relative;
    cursor: pointer;
}

.bar .middle{
    height: 3px;
    width: 30px;
    background: var(--accent-clr);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .top{
    bottom: 3px;
    height: 3px;
    width: 30px;
    background: var(--accent-clr);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .bottom{
    top: 6px;
    height: 3px;
    width: 30px;
    background: var(--accent-clr);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .bar .top{
    transform: rotate(-45deg);
    width: 30.5px;
    transform-origin: right;
    top: -11px;
}
input[type="checkbox"]:checked ~ .bar .bottom{
    transform: rotate(45deg);
    width: 30.5px;
    transform-origin: right;
    top: 11px;
}
input[type="checkbox"]:checked ~ .bar .middle{
    transform: translate(20px);
    opacity: 0;
}


/* Nav link hover effect */


.nav-item .nav-link {
    color: var(--secondary-clr) !important;
    text-decoration: none;
    position: relative;
    display: inline-block;
    /* padding-bottom: 0em; */
    transition: color 0.3s ease-in;
}

.nav-item .nav-link span{
    position: relative;
}

.nav-item .nav-link:hover{
    color: var(--accent-clr) !important;
}

.nav-item .nav-link span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: var(--accent-clr);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item .nav-link:hover span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.navbar-brand{
    margin-top:10px ;
}

.navbar label{
    margin-top: -4px;
}

.navbar-brand,.resume-btn > a,.copyright-box a{
    color:var(--accent-clr) !important;
}

.navbar-brand:hover{
    color: #ff7f50 !important;
}

h2:not(.name-sec h1){
    color: var(--accent-clr)!important;
}

.about-para{
    text-align: justify;
}

.name-sec h1:not(span){
    letter-spacing: 1px;
    font-weight: 100;
}

.name-spc{
    color:var(--accent-clr) !important;
    font-weight: 600;
}

.resume-btn{
    background-color: #712cf9;
    border-radius: 10px;
    padding: .5em 1em;
    display: inline-block;
    /* margin-top: 15px; */
    transition: transform 0.3s ease-in-out;
}
.resume-btn:hover{
    transform: translateY(-2px);
}

/* Section Wise */

.section{
    height: 100vh;
    word-spacing: 0.10rem;
    line-height: 1.4rem;
    /* text-align: justify !important; */
    /* padding: 80px 20px 20px; */
}
.section:not(.hero-section){
    margin-top: 50px;
}

/* Hero Section */
.hero-sec-socials{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:var(--bgop-clr);
    padding: 1rem 1.2rem;
    border-radius: 6px;
    box-shadow: 4px 6px 16px black ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.hero-social i{
    color: var(--secondary-clr);
    transition: color 0.3s ease-in;
}

.hero-social i:hover{
    color: var(--accent-clr);
}

.first-para {
    padding: 0px 130px;
}

/* Skill Section */
.skills{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    /* flex-wrap: wrap; */
    row-gap: 40px;
}

.skill-item{
    width: 90px;
    height: 90px;
    background-color: var(--bgop-clr);
    border-radius: 20px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: box-shadow 0.2s ease-in-out;
}

.skill-item:hover{
    box-shadow: 4px 8px 16px black ;
}

.skill-item img ,.skill-item i{
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.2s ease-in-out;
}

/* Contact Section */

.left-sec-para{
    gap: 10px;
    margin-top: 6rem;
}


.msg-form{
    background-color:#172136;
    padding: 1.2rem !important;
    width: 27rem !important;
    border-radius: 15px;
    box-shadow: 4px 6px 16px black;
}

.contact-section textarea{
    resize: none;
}

.swal2-title-custom{
    color:#545454;
}

.field.error .form-control{
    border-color: red !important;
}

.field .error-text{
    font-size: 0.8rem;
    color: red;
    text-align: left;
    margin: -13px 0 10px;
    display: none;
}

.field.error .error-text{
    display: block;
}

.form-heading{
    font-size: 1.3rem;
    color:var(--accent-clr);
}
input,textarea{
    background-color:var(--bgop-clr) !important;
    border-color: var(--secondary-clr) !important;
    color:var(--accent-clr) !important;
}

input::placeholder,textarea::placeholder{
    color: var(--secondary-clr) !important;
}

/* Media query goes here */

@media (max-width:576px){
    
    .first-para {
        padding: 0px;
    }

    .hero-sec-socials{
        display: none
    }

    .msg-form{
        width: 19rem !important;
    }
    .left-sec-para{
        margin-bottom: 1.2rem;
        margin-top: 1.7rem;
    }
    .about-section{
        margin-bottom: 13rem !important;
    }

    .contact-section{
        
    }

    .contact-section .row{
        margin-top: 1.3rem !important;
    }

    .skill-section{
        margin-bottom: 10rem !important;
    }
    
    .skill-section .row .skills{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 20px;
    }

    .footer-section{
        margin-left: -2.5rem !important;
    }
    
    .selfintro-footer{
        padding-right: 0 !important;
    } 
    .social-icons{
        margin-top: 1rem;
    }
    .icons{
        padding-top: .5rem;
    }
}
@media (min-width:577px) and (max-width:768px){
    /* Contact section paragraph */
    .left-sec-para{
        margin-bottom: 1.2rem;
        margin-top:-2rem;
    }
    .msg-form{
        width: 27rem !important;
    }
    .contact-section{
        height: 110vh;
    }
}

@media (min-width:769px) and (max-width:991px){
    .hero-sec-socials{
        display: none;
    }

    .first-para {
        padding: 0px 80px;
    }
    
    .contact-section{
        height: 120vh;
    }

    .left-sec-para{
        margin-top: -1.2rem;
        margin-bottom: 1.5rem;
    }

}


/* Footer section */

.icons i{
    color: var(--secondary-clr);
    transition: color 0.1s ease-in-out;
}

.icons i:hover{
    color:var(--accent-clr);
}
.icons{
    gap: 30px;
}
