*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:dodgerblue !important; 
    color: whitesmoke !important;
}
.navbar-brand,a{
    color: whitesmoke !important;
}
.home-sec{
    height: 100vh;
    /* margin-top: 5%; */
}

.about-sec{
    height: 100vh;
}